.library{
    position: fixed;
    top: 0;
    left: 0;
    width: 25rem;
    height: 100%;
    background-color: white;
    box-shadow: 2px 2px 50px rgb(153, 153, 153);
    overflow-y: scroll;

    transform: translateX(-100%);
    transition: all .5s ease;
    opacity: 0;

    h1,h2,h3{
    color: rgb(54, 54, 54); 
    }

    h4{
    font-weight: 600;
    color: rgb(100, 100, 100);
    }

    h2{
        text-align: left;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.library-song{
    display: flex;
    align-items: center;
    
    padding: 1rem 2rem 1rem 1rem;
    cursor: pointer;

    img{
        width: 40%;
        margin-right: 1rem;
    }
    &:hover{
        background:rgb(119, 101, 201);
        h3{
            color: rgb(212, 212, 212);
        }
        h4{
            color: rgb(255, 255, 255);
        }
    }
    transition: all .3s ease;
}


.song-description{
    padding-left: 1rem;

    h3{
        font-size: 1.2rem;
    }
    h4{
        font-size: .9rem;
    }
}

.selected{
    background: rgb(217, 209, 248);
}

.active-library{
    transform: translateX(0);
    opacity: 1;
}


//SCROLLBAR
*{
    scrollbar-width: thin;
    scrollbar-color: rgba(155,155,155,.5) transparent;
}

*::-webkit-scrollbar{
    width: 5px;
}

*::-webkit-scrollbar-track{
    background: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: #2a9c93;
    border-radius: 20px;
    border: transparent;
}




@media screen and (max-width: 768px) {
    .library{
        width: 100%;
    }

    img{
        width: 40%;
        margin-right: 1rem;
    }
}

